@use 'helpers' as *;

:root {
    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'PTRootUI', sans-serif;

    // --container-width: #{rem(1920)};
    --body-padding-x: #{fluid(80, 80)};
    --body-padding-y: #{fluid(50, 50)};

    --transition-duration: 0.5s;

    --link-color: 69.6% 0.1721 244.25;
    --hover-link-color: 64.63% 0.241 32.62;
    --blue: 0.6435 0.1955 253.06;

    --selection-color: 61.07% 0.163876259829489 247.86828374804395;

    --sm-gap: #{fluid(12, 14)};
    --md-gap: #{fluid(26, 42)};
    --lg-gap: #{fluid(42, 72)};
    --section-gap: #{fluid(90, 54)};

    --red: 233, 0, 0;
    --ginger: 255, 128, 17;
    --yellow: 255, 216, 23;
    --green: 23, 200, 0;
}